<template>
    <main>
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci asperiores autem distinctio excepturi itaque iure laudantium magnam maxime minus nesciunt officia qui, quis ratione repellat repudiandae rerum sint tempore voluptatem.</p>
    </main>
</template>

<script>

    export default {
        name: 'About'
    }

</script>