<template>
    <header>
        Vue SSR Boilerplate
    </header>
</template>

<script>

    export default {
        name: 'MainHeader'
    }

</script>

<style lang="scss" scoped>

    header {
        background-color: #41b883;
        padding: 1rem;
    }

</style>