<template>
    <main>
        <section>
            <img src="../../assets/logo.png" alt="Vue">
        </section>
        <section>
            <h2>Vue Router</h2>
            <nav>
                <router-link to="/about">Route Example</router-link>
            </nav>
        </section>
        <section>
            <h2>Vuex</h2>
            <button v-on:click="fetchSampleData">Dispatch Vuex action</button>
            <p v-if="json">{{ json }}</p>
        </section>
    </main>
</template>

<script>

    import { mapActions, mapState } from 'vuex'

    export default {
        name: 'Home',
        computed: {
            ...mapState({
                json: state => state.sample
            })
        },
        methods: {
            ...mapActions(['fetchSampleData'])
        }
    }

</script>

<style lang="scss" scoped>

    section {
        margin: 4rem auto;
    }

</style>