<template>
    <div>
        <MainHeader/>
        <router-view></router-view>
    </div>
</template>

<script>

    import MainHeader from "./partials/header/index.vue";

    export default {
        name: 'app',
        components: { MainHeader }
    }
</script>

<style lang="scss">

    html {
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    }

    body {
        margin: 0;
    }

    main {
        text-align: center;
        max-width: 33em;
        margin: auto;
    }

</style>
